<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reflekt</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link rel="shortcut icon" href="">
  </head>
  <body>

    <script>
      var reflections = JSON.parse(<%= @@reflekt_json %>)
      console.log(reflections)
    </script>

  </body>
</html>
